.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 2px 5px 0px rgba(44, 46, 51, 0.4);
  width: inherit;
  height: 260px;
}

.inner-conteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
  margin-top: 112px;
  width: 1234px;
  margin: 0 auto;
  padding: 0;
}

.inner-conteiner-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 1234px;
}

.site-logo-footer {
  transform: translateY(-28px);
}

.site-logo-footer::before {
  display: block;
  width: 107px;
  height: 28px;
  background-image: url(../IMG/Logo/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.location {
  font-size: 14px;
  color: rgb(150, 154, 168);
  line-height: 25px;
  font-family: 'Ubuntu';
  font-style: normal;
}

.location p {
  margin: 0;
  padding: 0;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-list a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(150, 154, 168);
  line-height: 25px;
  font-family: 'Ubuntu';
}

.sumbit-application a {
  font-size: 16px;
  color: rgb(246, 249, 250);
  font-family: 'OpenSans';
  font-weight: 400;
  line-height: auto;
  text-decoration: none;
}

.sumbit-application {
  font-size: 16px;
  color: rgb(246, 249, 250);
  font-family: 'OpenSans';
  line-height: auto;
  width: 192px;
  height: 42px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(252, 174, 38);
}

.conteiner:hover .sumbit-application {
  font-weight: bold;
  background-color: rgb(243, 147, 19);
  box-shadow: 0px 3px 5px 0px rgba(252, 174, 38, 0.4);
  font-weight: 700;
}

.social-linc {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-linc li {
  margin-left: 20px;
}

.social-linc a {
  text-decoration: none;
}

.social-linc-Telegram::before {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../IMG/sotial/telegram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(61, 153, 227);
  content: '';
}

.social-linc-Facebook::before {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../IMG/sotial/faseboock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(46, 77, 114);
  content: '';
}

.social-linc-YouTube::before {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../IMG/sotial/you.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(186, 31, 46);
  content: '';
}

.social-linc > li:hover {
  transform: scale(1.125);
}

.small-footer {
  display: flex;
  align-items: center;
  position: absolute;
  list-style: none;
  font-size: 12px;
  line-height: 25px;
  background-color: rgb(21, 21, 21);
  width: 1920px;
  height: 49px;
  margin: 0;
  padding: 0;
}

.small-footer-conteiner {
  display: flex;
  width: 1234px;
  margin: 0 auto;
  padding: 0;
}

.small-footer-conteiner li {
  margin-right: 75px;
}

.small-footer a {
  color: rgb(150, 154, 168);
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-up {
  align-items: center;
  display: inline-block;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 36px;
  width: 65px;
  height: 65px;
  background-color: rgb(51, 51, 51);
}

.button-up::before {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../IMG/sotial/btnup.png);
  width: 14px;
  height: 14px;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-up:hover {
  box-shadow: 0px 7px 12px 0px rgba(51, 51, 51, 0.5);
}
