.promo-wrap {
  position: relative;
  height: 100%;
}

.promo {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__header {
  text-align: center;
  font-size: 35px;
  font-family: $title-ff;
  color: $light-color;
  font-weight: 700;
  margin-bottom: 26px;
}

.promo__shadow {
  background-color: rgba(14, 17, 27, 0.67);
  min-width: 278px;
  padding: 5px 0px;
}

.promo__text {
  position: relative;
  font-family: $main-ff;
  font-size: $main-fz;
  font-weight: 400;
  color: $light-color;
  margin-left: 20px;
  line-height: 1.4;
}

.promo__text_yellow {
  font-family: $subtitle-ff;
  font-size: $main-fz;
  font-weight: 700;
  color: $line-color;
}

@media screen and (min-width: 768px) {
  .promo__shadow {
    width: 408px;
    padding: 0;
  }

  .promo__header {
    font-size: 45px;
  }

  .promo__text,
  .promo__text_yellow {
    font-size: 27px;
  }
}

@media screen and (min-width: 1920px) {
  .promo {
    left: 30%;
  }

  .promo__header {
    font-size: 65px;
    margin-left: -140px;
  }

  .promo__shadow {
    width: 460px;
    padding: 10px;
  }

  .promo__text::before {
    position: absolute;
    display: block;
    content: "";
    border-left: 3px solid $line-color;
    width: 100%;
    height: 100%;
    left: -25px;
  }

  .promo__text,
  .promo__text_yellow {
    font-size: 25px;
  }

  .promo__text {
    margin-left: 50px;
  }
}
