.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.title1 {
  position: relative;
  margin-top: 116px;
  color: $main-dark-color;
  font-family: $title-ff;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 70px;
  padding-right: 80px;
}

.number1::before {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fcae26;
  background-image: url(../images/icon1.png);
  position: absolute;
  top: 22px;
  left: -50px;
}

.team-icons::before {
  display: block;
  content: '';
  width: 95px;
  height: 95px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.icon1::before {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-color: #faebd0;
  background-position: center;
}

.icon2::before {
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-color: #fbdcd2;
  background-position: center;
}

.icon3::before {
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-color: #e2d8f5;
  background-position: center;
}

.icon4::before {
  background-image: url(../images/4.png);
  background-repeat: no-repeat;
  background-color: #c8eae8;
  background-position: center;
}

.icon5::before {
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-color: #c8eae8;
  background-position: center;
}

.icon6::before {
  background-image: url(../images/6.png);
  background-repeat: no-repeat;
  background-color: #fbdcd2;
  background-position: center;
}

.icon7::before {
  background-image: url(../images/7.png);
  background-repeat: no-repeat;
  background-color: #faebd0;
  background-position: center;
}

.info-text {
  width: 270px;
}

.info-text {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-family: $main-ff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 100px;
}
